{% extends 'stats/layout.html' %}

{% load static %}

{%block content%}
    <title>UFC Events</title>
    <div class="box">
        <h1>UFC Events</h1>
        {% if events %}
            {% for event in events %}
            <div class="event-container">
                <div class="event-title">{{ event.name }}</div>
                <div class="event-date">Date: {{ event.date }}</div>
                <div class="event-location">Location: {{ event.location }}</div>
            </div>
            {% endfor %}
        {% else %}
            <p>No events found.</p>
        {% endif %}
    </div>
{%endblock content%}

